// Styles for Landing Page

body {

    position:absolute;

    width:100vw;
    height:100vh;

    background-color: $gray-lighter;
    color:$gray-dark;

}

.hero-wrapper {
}

.hero-wrapper img {
    width:100%;
}

@media screen and (min-width: 1024px) {
    .hero-wrapper {
        position:absolute;
        left: 50%;
        top: 50%;
        margin-left: -403px;
        margin-top:-175px;
    }
}
