// Styles for Landing Page

body {

    // position:absolute;
    //
    // width:100vw;
    // height:100vh;

    background-color: $brand-theme;
    color:$gray-dark;

}

.navbar.navbar-default.navbar-transparent {
    background-color: transparent;
    border-color: transparent;
}
.navbar.navbar-default.navbar-transparent .active a {
    background-color:transparent;
}
.navbar.navbar-default.navbar-transparent .active a:after {
    content:"";
    position:absolute;
    left: 14px;
    bottom: 12px;
    right:14px;
    height: 2px;

    background-color:rgb(224,106,92);
}

section#hero {
    width:100vw;
    height:calc(100vh - 72px);
}

.hero-wrapper {
}

.hero-wrapper img {
    width:100%;
}

@media screen and (min-width: 1024px) {
    .hero-wrapper {
        position:absolute;
        left: 50%;
        top: 50%;
        margin-left: -403px;
        margin-top:-175px;
    }
}
